@model SecondTaskSupportWebCrew.Models.Session
@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center"> Edit </h2>
<div style="margin-top:70px;">

    <div class="container">

        @using (Html.BeginForm("Edit", "Admin"))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.Photgrapher)
                @Html.TextBoxFor(m => m.Photgrapher, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Location)
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Image)
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button class="btn btn-danger">Edit</button>
            </div>
        }


    </div>

</div>